@font-face {
  font-family: "League Spartan";
  src: url("../fonts/league-spartan.ttf");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --back-col: #373737;
  --prim-col: #202020;
  --acc-col: #fb0;
  --text-col: #fff;
  --title-font: "League Spartan", Arial, sans-serif;
  --text-font: "Source Sans 3", Verdana, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main-col {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--back-col);
}

[class^="etch-container"] {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 600px;
  gap: 1px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--prim-col);

  .etch-row {
    display: flex;
    gap: inherit;
    flex: 1 1 100%;
  }
}

.etch-pixel {
  background-color: #f1f1f1;
  flex: 1 1 100%;
}
