@font-face {
  font-family: "League Spartan";
  src: url("../fonts/league-spartan.ttf");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --back-col: #373737;
  --prim-col: #202020;
  --acc-col: #fb0;
  --text-col: #fff;
  --title-font: "League Spartan", Arial, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--title-font);
}

.main-row {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--back-col);
}

.etch-container {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 600px;
  gap: 1px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--prim-col);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  .etch-row {
    display: flex;
    gap: inherit;
    flex: 1 1 100%;
  }
}

.etch-pixel {
  background-color: var(--text-col);
  flex: 1 1 100%;
}

.settings-section {
  background-color: var(--prim-col);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
}

.size-grid {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tool-section {
  background-color: var(--prim-col);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
}

button {
  padding: 5px;
}
