@font-face {
  font-family: "League Spartan";
  src: url("../fonts/league-spartan.ttf");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --back-col: #373737;
  --prim-col: #202020;
  --acc-col: #fb0;
  --text-col: #fff;
  --title-font: "League Spartan", Arial, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--title-font);
}

.main-row {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--back-col);
}

.etch-container {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 600px;
  gap: 1px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--prim-col);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  .etch-row {
    display: flex;
    gap: inherit;
    flex: 1 1 100%;
  }
}

.etch-pixel {
  background-color: var(--text-col);
  flex: 1 1 100%;
}

.settings-section {
  background-color: var(--prim-col);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
}

.section-header {
  grid-column: span 2;
  color: var(--text-col);
}

.size-grid {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;

  button {
    border-radius: 0;
  }

  button:nth-child(1) {
    border-top-left-radius: 5px;
    border-bottom-width: 1px;
    border-right-width: 1px;
  }
  button:nth-child(2) {
    border-top-right-radius: 5px;
    border-bottom-width: 1px;
    border-left-width: 1px;
  }
  button:nth-child(3) {
    border-bottom-left-radius: 5px;
    border-top-width: 1px;
    border-right-width: 1px;
  }
  button:nth-child(4) {
    border-bottom-right-radius: 5px;
    border-top-width: 1px;
    border-left-width: 1px;
  }
}

.tool-section {
  background-color: var(--prim-col);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
}

button {
  background-color: var(--back-col);
  color: var(--text-col);
  border: 2px solid var(--acc-col);
  border-radius: 5px;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s all;

  &:hover {
    background-color: var(--prim-col);
  }

  &.active,
  &:active {
    background-color: var(--acc-col);
    color: var(--prim-col);
  }
}

input[type="color"] {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
}
